frontend/node_modules/
frontend/.next/
frontend/.env.local

.venv/

test/

debug.py

uv.lock

# Wszystkie foldery __pycache__
__pycache__/

# Wszystkie pojedyncze pliki skompilowane Pythona
*.pyc
*.pyo