{% extends "base.html" %}
{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="mb-4 text-dark"><i class="fas fa-exchange-alt me-2"></i>Dodaj nową transakcję</h2>

            <form id="add-transaction-form">

                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-dark text-white fw-bold">Instrument</div>
                    <div class="card-body">

                        <div class="col-12 mb-3">
                            <label class="form-label fw-bold">Rodzaj instrumentu</label>
                            <select class="form-select form-select-lg border-dark" id="assetTypeSelect">
                                <option value="" selected disabled>-- Wybierz rodzaj --</option>
                                <option value="AssetType.ETF">ETF</option>
                                <option value="AssetType.ETC">ETC</option>
                                <option value="AssetType.BOND">Obligacja</option>
                            </select>
                        </div>

                        <div class="col-12 d-none" id="assetSelectWrapper">
                            <label class="form-label fw-bold">Wybierz instrument podlegający transakcji...</label>
                            <select class="form-select form-select-lg" id="assetSelect" name="asset_id" required>
                                <option value="" data-type="" selected disabled>-- Wybierz instrument z bazy --
                                </option>
                                {% for asset in assets %}
                                <option value="{{ asset.id }}" data-type="{{ asset.asset_type }}">
                                    {{ asset.ticker }} - {{asset.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div id="form-body" class="d-none">

                    <div class="card shadow-sm mb-4">
                        <div class="card-header bg-dark text-white fw-bold">Szczegóły transakcji</div>
                        <div class="card-body bg-light">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label class="form-label">Typ transakcji</label>
                                    <select class="form-select" name="type" required>
                                        <option value="KUPNO">Kupno</option>
                                        <option value="SPRZEDAŻ">Sprzedaż</option>
                                        <option value="ODSETKI">Odsetki</option>
                                    </select>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label">Data i czas transakcji</label>
                                    <input type="datetime-local" class="form-control" name="timestamp" required>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label">Wolumen</label>
                                    <input type="number" step="0.0001" class="form-control" name="quantity" required>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label">Cena jednostkowa</label>
                                    <input type="number" step="0.0001" class="form-control" name="price">
                                    <div class="form-text">Dla odsetek/kapitalizacji możesz zostawić
                                        puste lub wpisać 1.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm mb-4 border-info">
                        <div class="card-header bg-dark text-white fw-bold">Przewalutowanie</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label class="form-label">Kurs wymiany (FX Rate)</label>
                                    <input type="number" step="0.00000001" class="form-control" name="fx_rate">
                                </div>
                                <div class="col-6 mb-3">
                                    <label class="form-label">Waluta źródłowa</label>
                                    <input type="text" class="form-control" name="fx_source_currency" maxlength="3"
                                        required value="PLN">
                                </div>
                                <div class="col-6 mb-3">
                                    <label class="form-label">Waluta docelowa</label>
                                    <input type="text" class="form-control" name="fx_target_currency" maxlength="3"
                                        required placeholder="np. EUR">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <div class="col-12">
                                <label class="form-label">Notatki / Komentarz</label>
                                <textarea class="form-control" name="notes" rows="2"
                                    placeholder="Dodatkowy opis transakcji, krótka notatka"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" id="submit-btn" class="btn btn-dark btn-lg shadow">Zapisz</button>
                        <button type="reset" class="btn btn-outline-secondary shadow-sm">Wyczyść
                            formularz</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/transactions/add.js') }}"></script>
{% endblock %}